.api{
  background-color:rgb(234, 248, 248);
  height: 100%;
}
.table th{
  font-size: 18px;
  font-weight: 600;
}
.API{
  text-align: center;
  color: rgb(17, 86, 63);
  background-color:white;
}